.videoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.leafCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.videoCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.buy {
  margin: 20px;
  background-color: lightgreen;
  border: none;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
