.button {
  border: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  border: none;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.image {
  height: 500px;
  width: 500px;
  animation:10s linear 0s infinite alternate move;
}
.image1 {
  cursor: pointer;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 0);
  }
  50% {
    transform: translate(50px, 50px);
  }
  75% {
    transform: translate(0, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
area {
  cursor: pointer;
}
img {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 260px;
}
