.leafContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageContainer {
  display: flex;
  flex-wrap: wrap;
}

.imageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 500px;
}
.leaf {
  width: 300px;
  height: 300px;
  animation: move 20s ease-in;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

h1 {
  font-size: 25px;
  padding: 30px;
  color: green;
}
